.tabs {
    border: 1px solid #ccc;
    display: flex;
    position: relative;
    clear: both;
}

.tabs__sidebar {
    width: 125px;
    flex-shrink: 0;
    background: #ccc;
}

.tabs__button {
    display: block;
    padding: 10px;
    background: #eee;
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
}

.tabs__button:active {
    background: #ddd;
}

.tabs__button:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}

.tabs__button--active {
    font-weight: bold;
    border-right: 2px solid #009879;
    background: #ddd;

}

.tabs__content {
    font-size: 1.3rem;
    display: none;
}

.tabs__content--active {
    display: block;
}

.tabs__content > :first-child {
    margin-top: 0;
}

/*tab*/
h1 {
    font-size: 40px;
    line-height: 0.8em;
    color: rgba(255,255,255,0.2);
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    margin: 0;
    overflow: hidden;
}

    .tabs [class^="tab"] label,
    .tabs [class*=" tab"] label {
        color: #000000;
        cursor: pointer;
        display: block;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1em;
        padding: 2rem 0;
        text-align: center;
    }

    .tabs [class^="tab"] [type="radio"],
    .tabs [class*=" tab"] [type="radio"] {
        border-bottom: 1px solid rgba(239, 237, 239, 0.5);
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
        .tabs [class*=" tab"] [type="radio"]:hover,
        .tabs [class*=" tab"] [type="radio"]:focus {
            border-bottom: 1px solid #fd264f;
        }

        .tabs [class^="tab"] [type="radio"]:checked,
        .tabs [class*=" tab"] [type="radio"]:checked {
            border-bottom: 2px solid #fd264f;
        }

            .tabs [class^="tab"] [type="radio"]:checked + div,
            .tabs [class*=" tab"] [type="radio"]:checked + div {
                opacity: 1;
            }

        .tabs [class^="tab"] [type="radio"] + div,
        .tabs [class*=" tab"] [type="radio"] + div {
            display: block;
            opacity: 0;
            padding: 2rem 0;
            width: 90%;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

    .tabs .tab-2 {
        width: 50%;
    }

        .tabs .tab-2 [type="radio"] + div {
            width: 200%;
            margin-left: 200%;
        }

        .tabs .tab-2 [type="radio"]:checked + div {
            margin-left: 0;
        }

        .tabs .tab-2:last-child [type="radio"] + div {
            margin-left: 100%;
        }

        .tabs .tab-2:last-child [type="radio"]:checked + div {
            margin-left: -100%;
        }

.tab_cont {
    padding: 0 20px 0 20px !important
}




body {
    font-family: Helvetica;
}

.table-wrapper {
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

    .fl-table td, .fl-table th {
        padding: 8px;
    }

    .fl-table td {
        border-right: 1px solid #f8f8f8;
        font-size: 12px;
    }

    .fl-table thead th {
        background: #cccccc;
    }


        .fl-table thead th:nth-child(odd) {
            color: #ffffff;
            background: #222;
        }

    .fl-table tr:nth-child(even) {
        background: #F8F8F8;
    }

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }

        .fl-table thead th:last-child {
            border-bottom: none;
        }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

        .fl-table tbody tr:nth-child(odd) {
            background: none;
        }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}